<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <label for="">FirstName</label>
        <input type="text" name="Firstname" id=""><br><br>
        <label for="">LastName</label>
        <input type="text" name="Lastname" id=""><br><br>
        <label for="">Phoneno</label>
        <input type="text" name="Phone" id=""><br><br>
        <label for="">E-mail</label>
        <input type="email" name="Email" id=""><br><br>
        <label for="">Qualification</label>
        <input type="text" name="Qualification" id=""><br><br>
        <label for="">Experience</label>
        <input type="text" name="Year_of_experience" id=""><br><br>
        <label for="">Department</label>
        <input type="text" name="Department" id=""><br><br>
        <label for="">Username</label>
        <input type="text" name="username" id=""><br><br>
        <label for="">Password</label>
        <input type="text" name="password" id=""><br><br>
        
        <button type="submit">add</button>
    </form>
</body>
</html>