<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <label for="">Image</label>
    <input type="file" name="Image" id=""><br><br>
    <label for="">Description</label>
    <input type="text" name="Description" id=""><br><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>