<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <center>
        <form action="" method="post">
            {% csrf_token %}
    <br>
        <img src="logo.png" style="height: 2.1cm;" alt="">
        <br><br>
        <input type="text" placeholder="Username" name="username" size="25px" required class="ph"><br><br>
        <input type="text" placeholder="Password" name="password" size="25px" required class="ph"><br><br>
        <a href="" class="fs">forgot password</a><br>
        <a href="" class="fs">Sign-up</a><br><br><br><br>
        <input type="submit" class="lb" value="login">
    </form>
</center>
</body>
</html>