<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Doctor id</th>
            <th>Patient id</th>
            <th>Prescription</th>
            <th>Medicine id</th>
            <th><button><a href="addprescription.html">Add+</a></button></th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button><a href="editprescription.html">Edit</a></button></td>
        </tr>
    </table>
</body>
</html>