<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Post</th>
            <th>Description</th>
            <th><button><a href="addpost.html">Add+</a></button></th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><a href="editpost.html">Edit</a></td>
            <td><a href="">Delete</a></td>
        </tr>
    </table>
</body>
</html>